html {
	background-color: #EEEFF0;
}

body {
	background-color: #EEEFF0;
	margin: 0;
}

body * {
	font-size: 14px/1em;
	font-weight: lighter;
	letter-spacing: 1px;
}

.main-content {
	background-color: #EEEFF0;
}

.search-bar {
	background-color: #1F7AFF;
	box-shadow: -1px 1px 1px 0px rgba(50, 50, 50, 0.2);
	box-sizing: border-box;
	padding: 10px 10%;
	width: 100%;
}

.search-bar .search-input {
	background-color: #438FFF;
	border-radius: 5px;
	border-width: 0;
	box-sizing: border-box;
	color: #FFF;
	font-size: 1em;
	padding: 5px 10px;
	width: 100%;
}

.search-bar .search-input::-webkit-input-placeholder {
	color: #FFF;
}

.search-results {
	margin: 40px 10%;
}

.search-results:after {
	clear: both;
	content: "";
	display: block;
}

.span4 {
	box-sizing: border-box;
	float: left;
	width: 33.33%;
}

.span4 .span-content {
	margin: 0 40px;
}

.clear {
	clear: both;
}

.span-content .heading {
	color: #1F7AFF;
	font-size: 1.5em;
	margin-bottom: 20px;
}

.span-content .card-feed {
	height: 200px;
}

.card {
	background-color: #FFF;
	border-radius: 1px;
	box-shadow: -1px 2px 3px 0px rgba(50, 50, 50, 0.2);
	color: #999;
	clear: both;
	padding: 10px;
	margin-bottom: 20px;
	overflow: hidden;
}

.card .card-header {
	overflow: hidden;
}

.card .avatar {
	float: left;
	height: auto;
	width: 48px;
}

.card .avatar .user-portrait {
	border-radius: 24px;
	height: 48px;
	overflow: hidden;
	width: 48px;
}

.card .header-right {
	float: left;
	margin-left: 10px;
}

.card .user-name, .card .group-name {
	font-size: 1.25em;
}

.card .card-content {
	clear: both;
	margin-top: 5px;
}

@media screen and (max-width: 1080px) {
	.span4 {
		width: 50%;
	}
}

@media screen and (max-width: 760px) {
	.span4 {
		width: 100%;
	}
}